.tabs {
    width: 100%;
    border-bottom: 1px solid #333;
    display: flex;

    .tab {
        padding: 5px 15px;
        cursor: pointer;
        border: 1px solid transparent;
        margin-bottom: -3px;

        &.active {
            border-color: #4c0c16;
            border-bottom: 3px solid;
            border-bottom-color: #fff;
            font-size: 1.4em;
            color: #444;
            border-radius: 20px;
        }
    }
}

.tab-panes {
    .tab-pane{
        display: none;
    }

    .active{
        display: block;
        padding: 15px;
        
    }
}